/* ==========================================================================
   Title responsive style - begin
   ========================================================================== */

@include laptop-landscape-medium {
    
    .qodef-title-holder {
        
        &.qodef-title-full-width {
            
            .qodef-grid {
                padding: 0 40px;
            }
        }
    }
}

@include ipad-landscape {
    
    .qodef-title-holder {
        
        &.qodef-has-bg-image {
            height: auto !important; // because of inline style
            padding: 0 !important; // because of inline style
	        background-image: none !important; // because of inline style
    
            .qodef-title-image {
                display: block;
            }
    
            .qodef-title-wrapper {
                position: absolute;
                top: 50%;
                left: 0;
	            height: 100% !important;
                @include qodefTransform(translateY(-50%));
            }
        }
    }
}
/* ==========================================================================
   Title responsive style - end
   ========================================================================== */