/* ==========================================================================
   #Content bottom styles - begin
   ========================================================================== */

.qodef-content-bottom {
    
    .qodef-content-bottom-inner{
        box-sizing: border-box;
        
        &.qodef-grid{
            padding: 20px 0;
        }
        
        &.qodef-full-width{
            padding: 20px 50px;
        }
    }
}
/* ==========================================================================
   #Content bottom styles - end
   ========================================================================== */

/* ==========================================================================
   Footer style - begin
   ========================================================================== */

.qodef-page-footer {
    @include qodefRelativeHolderLayout();
    z-index: 100;
    box-sizing: border-box;

    .qodef-footer-top-holder {
        @include qodefRelativeHolderLayout();
        background-color: #000;
        box-sizing: border-box;

        .qodef-footer-top-alignment-center{
            text-align: center;
        }
	    
        .qodef-footer-top-alignment-left{
            text-align: left;
        }
	    
        .qodef-footer-top-alignment-right{
            text-align: right;
        }

        .qodef-footer-top-inner{
            box-sizing: border-box;
	        
            &.qodef-grid{
                padding: 76px 0;
            }
	        
            &.qodef-full-width{
                padding: 120px 55px 95px;
            }
        }
    }

    .qodef-footer-bottom-holder {
        @include qodefRelativeHolderLayout();
        background-color: #fff;
        box-sizing: border-box;
        text-align: center;
        border-top: 1px solid #e6e6e6 ;

        .qodef-footer-bottom-inner {
            box-sizing: border-box;
	        
            &.qodef-grid {
                padding: 28px 0 23px;
            }
	        
            &.qodef-full-width {
                padding: 39px 65px 34px;
            }
        }
    }
}

/* Footer uncover - begin
========================================================================== */

.no-touch {
    body:not(.error404) footer.qodef-footer-uncover {
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 99;
        @include qodefTransition(left 0.33s cubic-bezier(0.694, 0.0482, 0.335, 1));
    }

    .qodef-right-side-menu-opened footer.qodef-footer-uncover {
        left: -270px;
    }
}

/* Footer uncover - end
========================================================================== */

/* ==========================================================================
   Footer style - end
   ========================================================================== */