.qodef-header-vertical {

    .qodef-vertical-area-widget-holder {
        @include qodefRelativeHolderLayout();
        margin: 10px 0 0;
        z-index: 100;
    }

    .qodef-vertical-alignment-center{

        .qodef-vertical-area-widget-holder {
            position: absolute;
            width: 100%;
            bottom: 0px;
            left: 0px;
        }
    }
}