/* ==========================================================================
   Blog List shortcode - Standard type style - begin
   ========================================================================== */

.qodef-blog-list-holder {
    
    &.qodef-bl-standard {
        
        &:not(.qodef-bl-one-column) {
            
            .qodef-bl-item {
                float: left;
            }
        }
        
        $columns_number: ('two', 'three', 'four', 'five');
        
        @for $i from 0 to length($columns_number) {
            &.qodef-bl-#{nth($columns_number,$i+1)}-columns {
                
                .qodef-bl-item {
                    width: 100% / ($i+2);
                }
                
                @if ($i > 1) { // set different break point for four and five columns
                    @media only screen and (min-width: $laptop-landscape-plus-pixel) {
                        
                        .qodef-bl-item {
                            
                            &:nth-child(#{$i+2}n+1) {
                                clear: both;
                            }
                        }
                    }
                } @else {
                    @media only screen and (min-width: $ipad-landscape-plus-pixel) {
                        
                        .qodef-bl-item {
                            
                            &:nth-child(#{$i+2}n+1) {
                                clear: both;
                            }
                        }
                    }
                }
            }
        }
    }
}
/* ==========================================================================
   Blog List shortcode - Standard type style - end
   ========================================================================== */