/* ==========================================================================
   WooCommerce Buttons styles - begin
   ========================================================================== */

.woocommerce-page .qodef-content,
div.woocommerce {

    a.button,
    a.added_to_cart,
    input[type="submit"],
    button[type="submit"]:not(.qodef-woo-search-widget-button),
    .wc-forward:not(.added_to_cart):not(.checkout-button) {
        @include qodefButtonDefaultStyle();
        @include qodefButtonMediumParams();
        @include qodefButtonSolidColor();

        cursor: pointer;
        z-index: 3;
        text-transform: lowercase;

        &:hover {
            color: #fff;
            background-color: #2f2f2f;
        }
    }

    a.button.added {
        display: none;
    }
}

/* ==========================================================================
   WooCommerce Buttons styles - end
   ========================================================================== */