/* Single author box styles - begin
	====================================================================== */

.qodef-author-description {
    @include qodefRelativeHolderLayout();
    padding: 0;
    text-align: center;
    box-sizing: border-box;

    .qodef-author-description-inner {
        padding: 40px 0 39px;
        min-height: 78px; // static height of author image -- qodef-author-description-image
        clear: both;
    }

    .qodef-author-description-content {
        position: relative;
        padding: 0 45px 0 0;
    }

    .qodef-author-description-image {
        width: 160px;
        display: inline-block;
        float: left;

        img {
            display: block;
            border-radius: 50%;
        }
    }

    .qodef-author-description-text-holder {
        position: relative;
        padding: 22px 0 0 30px;
        display: inline-block;
        width: 78%;
        text-align: left;

        .qodef-author-name {
            margin: 0;

            a {
                color: $default-heading-color;

                &:hover {
                    color: $first-main-color;
                }
            }
        }

        .qodef-author-email {
            margin: 0;
        }

        .qodef-author-text {
            @include qodefRelativeHolderLayout();

            > p {
                margin: 9px 0 20px;
            }
        }

        .qodef-author-social-icons {
            @include qodefRelativeHolderLayout();

            a {
                position: relative;
                display: inline-block;
                vertical-align: middle;
                padding: 0;
                margin: 0 15px 0 0;
                font-size: 12px;
                color: $default-heading-color;

                &:last-child {
                    margin: 0;
                }

                &:hover {
                    color: $first-main-color;
                }
            }
        }
    }

    @include laptop-landscape-large{
        .qodef-author-description-text-holder{
            width: 75%;
        }
    }


    @include laptop-landscape-medium{
        .qodef-author-description-text-holder{
            width: 72%;
        }
    }

    @include ipad-portrait {
        .qodef-author-description-inner{
            padding: 0;
            .qodef-author-description-content{
                padding: 0;
            }
        }
        .qodef-author-description-text-holder {
            padding: 0;
            width: 100%;
            .qodef-author-name{
                position: relative;
                top: 10px;
                margin-bottom: 10px;
            }
        }
        .qodef-author-description-image {
            display: block;
            width: 100%;

            img{
                margin: 0 auto;
            }
        }
        .qodef-author-description-text-holder {
            display: block;
            padding: 0;
            margin-top: 30px;
            text-align: center;
        }
    }
}

/* Single author box styles - end
	====================================================================== */